.width-res{
    width: 96%;
}

.goggle{
    display: block;
    margin: 10px auto;
   text-align: center;
   margin-bottom: 40px;
}
.goggle .border{
    border: 1px solid rgb(24, 183, 247);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
.goggle .border:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(0, 72, 100);
}